*.cmi
*.cmt
*.cmti
*.cmo
*.cmx
*.cma
*.cmxa
*.cmxs
*.o
*.annot
*.byte
*.native
*.opt
version.ml
Crude_slicer_DEP
frama-c
frama-c-minimal
*.plugin.generated
*.check_mli_exists
META.*
.depend
.directory
top
tests/ptests_config
